.projects {
    padding-left: 0;
}
.projects > li {
    margin-bottom: 16px;
    list-style: none;
    padding: 16px;
    background-color: var(--colour-ui-card-bg);
    box-shadow: -4px 4px 0 var(--colour-ui-card-shadow);
}
.projects > li > p {
    margin: 4px 0;
}
.codeURL {
    font-size: 14px;
    display: block;
}
