.specialities {
    display: flex;
    flex-wrap: wrap;
}

.specialities > span {
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    background-color: var(--colour-claret);
    color: white;
    border-radius: 4px;
}
